<div class="row mt-2 py-4 mb-4">
  <h1 class="d-flex justify-content-center">Clases </h1>
  <nav class="navbar navbar-expand-lg navbar-dark p-2 bg-black justify-content-center fixed-bottom">
  <div class="d-flex flex-row gap-2 justify-content-center dropup" fixed-top >
          <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle p-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Primero
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdup-item"  href="#saludmen">Salud mental</a></li>
          <li><a class="dropdown-item" href="#saludpu">Salud publica</a></li>
          <li><a class="dropdown-item" href="#competencia">Competencia</a></li>
          <li><a class="dropdown-item" href="#fundamentos">Fundamentos</a></li>
          <li><a class="dropdown-item" href="#practicai">Practica I</a></li>
          <li><a class="dropdown-item" href="#fisiologia">Fisiologia</a></li>
          <li><a class="dropdown-item" href="#bioquimica">Bioquimica</a></li>
          <li><a class="dropdown-item" href="#anatomia">Anatomia</a></li>
          <li><a class="dropdown-item" href="#filosofia">Filosofia</a></li>
        </ul>
      </div>
    <br>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle p-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Segundo
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#enfermeria">Enfermeria</a></li>
            <li><a class="dropdown-item" href="#farmacologia">Farmacologia</a></li>
            <li><a class="dropdown-item" href="#infectologia">Infectologia</a></li>
            <li><a class="dropdown-item" href="#saludmenii">Salud mental II</a></li>
            <li><a class="dropdown-item" href="#practicaii">Practica II</a></li>
            <li><a class="dropdown-item" href="#antropologia">Antropologia</a></li>
            <li><a class="dropdown-item" href="#nutricion">Nutricion</a></li>
            <li><a class="dropdown-item" href="#informatica">Informatica</a></li>
          </ul>
        </div>
        <br>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle p-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tercero
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#bioetica">Bioetica</a></li>
            <li><a class="dropdown-item" href="#gerontologia">Gerontologia</a></li>
            <li><a class="dropdown-item" href="#orggesadm">Org.Ges.Adm</a></li>
            <li><a class="dropdown-item" href="#saludcom">Salud Comun.</a></li>
            <li><a class="dropdown-item" href="#practicaiii">Practica III</a></li>
            <li><a class="dropdown-item" href="#ingles">Ingles</a></li>
          </ul>
        </div>
        
  </div>
</nav>

<hr>
<h2 id="saludmen" class="d-flex justify-content-center">Salud Mental</h2>

<div>
  {{#each uploads}}
  {{#if saludmen}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="saludpu"></span>
<h2 class="d-flex justify-content-center">Salud Publica</h2>

<div>
  {{#each uploads}}
  {{#if saludpu}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="competencia"></span>
<h2 class="d-flex justify-content-center">Competencias comunicativas</h2>

<div>
  {{#each uploads}}
  {{#if competencia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="fundamentos"></span>
<h2 class="d-flex justify-content-center">Fundamentos de enfermeria</h2>

<div>
  {{#each uploads}}
  {{#if fundamentos}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>

<hr>
<span id="practicai"></span>
<h2 class="d-flex justify-content-center">Practica I</h2>

<div>
  {{#each uploads}}
  {{#if practicai}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="fisiologia" ></span>
<h2 class="d-flex justify-content-center">Fisiologia</h2>

<div>
  {{#each uploads}}
  {{#if fisiologia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="bioquimica"></span>
<h2  class="d-flex justify-content-center">Bioquimica</h2>

<div>
  {{#each uploads}}
  {{#if bioquimica}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span  id="anatomia" ></span>
<h2 class="d-flex justify-content-center">Anatomia</h2>

<div>
  {{#each uploads}}
  {{#if anatomia}}
  
    <div class="col-md-3 d-flex justify-content-around">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="filosofia"></span>
<h2  class="d-flex justify-content-center">Filosofia</h2>

<div>
  {{#each uploads}}
  {{#if filosofia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="enfermeria" ></span>
<h2 class="d-flex justify-content-center">Enfermeria del adulto</h2>

<div>
  {{#each uploads}}
  {{#if enfermeria}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="farmacologia"></span>
<h2 class="d-flex justify-content-center">Farmacologia y Terapeutica aplicada</h2>

<div>
  {{#each uploads}}
  {{#if farmacologia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="infectologia" ></span>
<h2 class="d-flex justify-content-center">Infectologia Aplicada a la Enfermeria</h2>

<div>
  {{#each uploads}}
  {{#if infectologia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="saludmenii" ></span>
<h2 class="d-flex justify-content-center">Enfermeria en Salud Mental y Psiquiatria II</h2>

<div>
  {{#each uploads}}
  {{#if saludmenii}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="practicaii"></span>
<h2 class="d-flex justify-content-center">Practica II</h2>

<div>
  {{#each uploads}}
  {{#if practicaii}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="antropologia"></span>
<h2 class="d-flex justify-content-center">Antropologia de la Salud</h2>

<div>
  {{#each uploads}}
  {{#if antropologia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="nutricion"></span>
<h2 class="d-flex justify-content-center">Nutricion y Dietetica</h2>

<div>
  {{#each uploads}}
  {{#if nutricion}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span  id="informatica"></span>
<h2 class="d-flex justify-content-center">Informatica</h2>

<div>
  {{#each uploads}}
  {{#if informatica}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="bioetica"></span>
<h2 class="d-flex justify-content-center">Bioetica y Enfermeria Legal</h2>

<div>
  {{#each uploads}}
  {{#if bioetica}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="gerontologia"></span>
<h2 class="d-flex justify-content-center">Enfermeria Gerontologica</h2>

<div>
  {{#each uploads}}
  {{#if gerontologia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="orggesadm"></span>
<h2 class="d-flex justify-content-center">Org.Ges. y Adm de los servicios de enfermeria</h2>

<div>
  {{#each uploads}}
  {{#if orggesadm}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="saludcom"></span>
<h2 class="d-flex justify-content-center">Enfermeria en Salud Comunitaria</h2>

<div>
  {{#each uploads}}
  {{#if comunitaria}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="practicaiii"></span>
<h2 class="d-flex justify-content-center">Practica III</h2>

<div>
  {{#each uploads}}
  {{#if practicaiii}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<span id="ingles"></span>
<h2 class="d-flex justify-content-center">Ingles Tecnico</h2>

<div>
  {{#each uploads}}
  {{#if ingles}}
  
    <div class="col-md-3 ingles">
        <div class="card">
            <div class="card-body">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">First alternative</a> <br>
                      <a href="{{second_alt}}">Second alternative</a> <br>
                    <a href="{{third_alt}}">Third alternative</a> <br>
                      <a href="{{fourth_alt}}">Fourth alternative</a> <br>
                    <a href="{{fifth_alt}}">Fifth alternative</a> <br>
            </div>
        </div>
    </div>
    {{/if}}

  {{/each}}
  
</div>