<div class="row mt-2">
  
  <h2>Recent Entries:</h2>
    {{#each uploads}}

    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
                <h4 class="card-title d-flex justify-content-between align-items-center">titulo:{{name}}</h4>
                  <!-- PUT REQUEST NOT YET IMPLEMEMNTET-->
                  {{#if user}}
                  
                      <button href={{first_alt}}>First</button> <br>
                      <a>{{{second_alt}}}</a> <br>
                      <a>{{third_alt}}</a> <br>
                      <a>{{fourth_alt}}</a> <br>
                      <a href="{{fifth_alt}}">{{fifth_alt}}</a> <br>
                      
                 <!-- DELETE REQUEST NOT YET IMPLEMENTET-->
                  <form action="/app/app/games/games/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
                  </form>
                  {{else}}
                    
                  <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
                  <p>{{#if this.classy}}First{{/if}}</p>
                  <p>{{#if this.anatomia}} OOOOOOHHHH {{/if}}</p>
                
                      </div>
                      
                  </div>
                    
              </div>
              {{/if}}
               
              
     {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hello {{user.name}}</h1>
      <p clsss="lead">There are no pdfs yet.</p>
      <a href="/app/app/games/games/add" class="btn btn-success btn-block">Create One!</a>
    </div>
  </div>
 
  {{/each}}
  
 
</div>

<hr>
<h2 id="saludmen">Salud Mental</h2>

<div>
  {{#each uploads}}
  {{#if saludmen}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="saludpu">Salud Publica</h2>

<div>
  {{#each uploads}}
  {{#if saludpu}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="competencia">Competencias comunicativas</h2>

<div>
  {{#each uploads}}
  {{#if competencia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="fundamentos">Fundamentos de enfermeria</h2>

<div>
  {{#each uploads}}
  {{#if fundamentos}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>

<hr>
<h2 id="practicai">Practica I</h2>

<div>
  {{#each uploads}}
  {{#if practicai}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="fisiologia">Fisiologia</h2>

<div>
  {{#each uploads}}
  {{#if fisiologia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="bioquimica">Bioquimica</h2>

<div>
  {{#each uploads}}
  {{#if bioquimica}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="anatomia">Anatomia</h2>

<div>
  {{#each uploads}}
  {{#if anatomia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="filosofia">Filosofia</h2>

<div>
  {{#each uploads}}
  {{#if filosofia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="enfermeria">Enfermeria del adulto</h2>

<div>
  {{#each uploads}}
  {{#if enfermeria}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="farmacologia">Farmacologia y Terapeutica aplicada</h2>

<div>
  {{#each uploads}}
  {{#if farmacologia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="infectologia">Infectologia Aplicada a la Enfermeria</h2>

<div>
  {{#each uploads}}
  {{#if infectologia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="saludmenii">Enfermeria en Salud Mental y Psiquiatria II</h2>

<div>
  {{#each uploads}}
  {{#if saludmenii}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="practicaii">Practica II</h2>

<div>
  {{#each uploads}}
  {{#if practicaii}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="antropologia">Antropologia de la Salud</h2>

<div>
  {{#each uploads}}
  {{#if antropologia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="nutricion">Nutricion y Dietetica</h2>

<div>
  {{#each uploads}}
  {{#if nutricion}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="informatica">Informatica</h2>

<div>
  {{#each uploads}}
  {{#if informatica}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="bioetica">Bioetica y Enfermeria Legal</h2>

<div>
  {{#each uploads}}
  {{#if bioetica}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="gerontologia">Enfermeria Gerontologica</h2>

<div>
  {{#each uploads}}
  {{#if gerontologia}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="orggesadm">Org.Ges. y Adm de los servicios de enfermeria</h2>

<div>
  {{#each uploads}}
  {{#if orggesadm}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="saludcom">Enfermeria en Salud Comunitaria</h2>

<div>
  {{#each uploads}}
  {{#if comunitaria}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="practicaiii">Practica III</h2>

<div>
  {{#each uploads}}
  {{#if practicaiii}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">Primera alternativa</a> <br>
                      <a href="{{second_alt}}">Segunda alternativa</a> <br>
                    <a href="{{third_alt}}">Tercera alternativa</a> <br>
                      <a href="{{fourth_alt}}">Cuarta alternativa</a> <br>
                    <a href="{{fifth_alt}}">Quinta alternativa</a> <br>
            </div>
        </div>
    </div>

    {{/if}}

  {{/each}}
</div>
<hr>
<h2 id="ingles">Ingles Tecnico</h2>

<div>
  {{#each uploads}}
  {{#if ingles}}
  
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
       <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                    <a href="/app/app/games/games/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                      
                      <a href="{{first_alt}}">First alternative</a> <br>
                      <a href="{{second_alt}}">Second alternative</a> <br>
                    <a href="{{third_alt}}">Third alternative</a> <br>
                      <a href="{{fourth_alt}}">Fourth alternative</a> <br>
                    <a href="{{fifth_alt}}">Fifth alternative</a> <br>
            </div>
        </div>
    </div>
    {{/if}}

  {{/each}}
  
</div>