<div class="row">
    {{#each games.classy}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
                <h4 class="card-title d-flex justify-content-between align-items-center">{{name}}
                <p>{{first_alt}}</p>
                <p>{{sec_alt}}</p>
                <p>{{third_alt}}</p>
                <p>{{fourth_alt}}</p>
                <p>{{fift_alt}}</p>
            </div>
        </div>
    </div>
    {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Ups!</h1>
      <p clsss="lead">Aun no hemos agregado ningun documento, vuelve en un rato :D</p>
    </div>
  </div>
  {{/each}}
</div>